$colors: #FF1744 #304FFE #FFF553 #129E3A #FF80AB #64B5F6 #FF3D00 #FF6F00 #036708 #795548 #0091EA #FF9800 #9C27B0 #B71C1C #304FFE #F4FF81 #E65100 #E91E63 #FF1744 #03A9F4 #FFEB3B #607D8B #5D4037 #00B0FF #00838F #9E9D24 #558B2F;
$i : 1;

md-grid-tile{
	transition: all 300ms ease-out;
}


// @for $z from 1 through 50{
// 	md-grid-tile:nth-child(#{$z}).ng-enter{
// 		transition: all 300ms ease-out $z*50ms;
// 	}
// 	// md-grid-tile:nth-child(#{$z}).ng-enter{
// 	// 	transition-delay: $z*100ms; 
// 	// }
// }

@each $color in $colors {
	.color#{$i}{
		background: $color;
	} 
	.topicChip.color#{$i}{
		background: $color;
		color:rgba(0,0,0,0.7);
	}
	.title.title-1-1.color#{$i}{
	  background: linear-gradient(transparent,$color);
	}
	.title.title-2-2.color#{$i}{
	  background: linear-gradient(transparent,$color);
	}
	.title.title-2-1.color#{$i}{
	  background: linear-gradient(transparent,$color);
	}
	.topicChip.color#{$i}{
	  background: $color;
	  color:rgba(0,0,0,0.7);
	}
	.title.title-1-1.color#{$i}{
	  background: linear-gradient(transparent,$color);
	}
	.title.title-2-2.color#{$i}{
	  background: linear-gradient(transparent,$color);
	}
	.title.title-2-1.color#{$i}{
	  background: linear-gradient(transparent,$color);
	}
	.overlay.color#{$i}{
	  background: $color;
	}
	.articleIn.color#{$i}{
	}
	
	@if($i%4==0){
		md-grid-tile.color#{$i}.ng-enter{
		  transform:translateX(-200px);
		  opacity: 0;
		}
		md-grid-tile.color#{$i}.ng-leave-active{
		  transition: all 0.3s;
		  transform:translateY(+200px);
		  opacity: 0;
		}
	}
	@if($i%4==1){
		md-grid-tile.color#{$i}.ng-enter{
		  transform:translateY(+200px);
		  opacity: 0;
		}
		md-grid-tile.color#{$i}.ng-leave-active{
		  transition: all 0.3s;
		  transform:translateX(+200px);
		  opacity: 0;
		}
	}
	@if($i%4==2){
		md-grid-tile.color#{$i}.ng-enter{
		  transform:translateX(+200px);
		  opacity: 0;
		}
		md-grid-tile.color#{$i}.ng-leave-active{
		  transition: all 0.3s;
		  transform:translateY(-200px);
		  opacity: 0;
		}
	}
	@if($i%4==3){
		md-grid-tile.color#{$i}.ng-enter{
		  transform:translateY(-200px);
		  opacity: 0;
		}
		md-grid-tile.color#{$i}.ng-leave-active{
		  transition: all 0.3s;
		  transform:translateX(-200px);
		  opacity: 0;
		}
	}
	.gridListdemoDynamicTiles .color#{$i} {
	  background: $color; }
	$i : $i + 1 ;
}





