.progressAnimation{
  position: fixed;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  opacity: 1;
}
.progressAnimation.ng-hide{
  opacity: 0;
}
.progressAnimation.ng-hide-add, .progressAnimation.ng-hide-remove {
  transition: all 0.3s;
}

md-grid-tile.ng-hide{
  opacity: 0;
}

md-grid-tile.ng-hide-add,md-grid-tile.ng-hide-remove{
  transition: all 0.3s;
}

.topicsBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 8px;
  margin-right: 8px;
}
.topicChip{
  font-family: marcellus sc, serif;
  height: 35px;
  border-radius: 0px;
  padding-left: 25px;
  padding-right: 25px;
  outline: none;
  background: grey;
  color:white;
  flex-grow: 1;
  overflow: hidden;
  transition: all 0.3s;
}
.topicChip.active{
  flex-grow: 100;
}
.topicChip.inactive{
  flex-grow: initial;
  border-radius: 0px;
  width: 35px;
  padding: 0;

}
.topicChip.inactive h3{
  color:transparent;
}
.topicChip.ng-enter,.topicChip.ng-leave-active{
  opacity: 0;
  width: 0;
  padding: 0;
}
.topicChip.ng-enter{
  transition: all 0.3s cubic-bezier(.48,1.24,1,1.25);
}
.topicChip h3{
  margin: 0;
  margin-top: 6px;
/*  color:rgba(255,255,255,.8);
*/}

.nextContainer,.prevContainer{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 0.3s;
  position: fixed;
  z-index: 5;
  background: rgba(250, 250, 250, 0.2);
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}
.nextContainer:hover,.prevContainer:hover{
  background:rgba(250, 250, 250, 0.9);
}
@media screen and (max-width: 700px) {
  .nextContainer,.prevContainer{
    background:rgba(250, 250, 250, 0.9);
  }
}
.nextContainer{
  right: 15px;
  bottom:20%;
}
.prevContainer{
  left: 15px;
  bottom:20%;
}




md-grid-list md-grid-tile figure{
  display: block;
}
md-grid-list{
  width: calc(100% - 16px);
  margin:0;
  margin-left: 8px;
  margin-top: 8px;
}

md-grid-tile figure img{
  width: 100%;
  height: initial;
  margin:auto;
  display: block;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.title,.date,.mainTopic,.secondTopic,.thirdTopic{
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.title,.date{
  font-family: pontano sans, sans-serif;
}
.mainTopic,.secondTopic,.thirdTopic{
  font-family: marcellus sc,serif;
}

.title.title-1-1{
  width: 100%;
  bottom:0;
/*  height: 0;*/
  transition: all 0.3s;
  height: 70%;
  padding-top: 20px;
}
.title h4{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  position: absolute;
  bottom: 10px;
  font-family: fjalla one;
  font-size: 24px;
}
md-grid-tile:hover .title-1-1{
  height: 70%;
  padding-top: 20px;
}
.title.title-2-1{
  bottom:0;
  width: 100%;
  /*height: 0;*/
  height: 50%;
  padding-top: 50px;
  transition: all 0.3s;
}
md-grid-tile:hover .title-2-1{
  height: 50%;
  padding-top: 50px;
}
.title.title-2-2{
  width: 100%;
  transition: all 0.3s;
  bottom:0;
/*  height: 0;*/
  height: 30%;
  padding-top: 50px;
}
md-grid-tile:hover .title-2-2{
  height: 30%;
  padding-top: 50px;
}
.title.title-1-2{
  bottom:0; 
  height: 45%;
  width: 100%;
}
.title.title-1-2 h4{
  font-size: 24px;
}
.title.title-2-2 h4{
  font-size: 24px;
}
.title.title-2-1 h4{
  font-size: 24px;
}
.title.title-1-1 h4{
  font-size: 24px;
}

.date{
  top:2%;
  right: 2%;
  border-radius: 4px;
  background: rgba(0,0,0,0.2);
  padding: 5px;
}
.date h3{
  margin:0;
  font-size: 14px;
  color: white;
}
.thumbnail img{
  opacity: 0;
  transition: all 0.3s;
}
.thumbnail.thumbnail-2-1 img{
  height: 100%;
  width: initial;
}


md-grid-tile:hover .thumbnail img{
  opacity: 1;
}

md-grid-tile:hover .thumbnail.thumbnailBackground img{
  opacity: 0;
}
.thumbnail.thumbnailBackground img{
  opacity: 1;
  height: 100%;
  transition: all 0.3s;
  width: initial;
  -webkit-filter: blur(7px);
  filter: blur(7px);
}


.thumbnail{
  position: absolute;
  overflow: hidden;
}

.thumbnail-1-1{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.thumbnail-1-2{
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
}
.thumbnail-1-2.thumbnail img{
  height: 100%;
  width: initial;
}
.thumbnail-2-1{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.thumbnail-2-2{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.overlay{
  opacity: 0.5;
  transition: all 0.5s;
  z-index: 1;
}
md-grid-tile:hover .overlay{
  opacity: 0;
  z-index: 0;
}
.mainTopic,.secondTopic,.thirdTopic{
  position: absolute;
  z-index: 1;
  background: #fafafa;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.4s;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}
.mainTopic{
  top:2%;
  left: 2%;
  height: 30px;
  width: 30px;
  /*background: rgba(0, 0, 0, 0.47);*/
  z-index: 2;
}
.secondTopic,.thirdTopic{
  height: 24px;
  width: 0;
  left: 2%;
}
.secondTopic{
  top:calc(2% + 34px);
}
.thirdTopic{
  top:calc(2% + 62px);
}
md-grid-tile:hover .mainTopic,.secondTopic,.thirdTopic{
  border-radius:0px; 
}
md-grid-tile:hover h4{
  letter-spacing: 0px;
}
md-grid-tile:hover .mainTopic h4{
  margin-left: 7px;
}
.mainTopic h4,.secondTopic h4,.thirdTopic h4{
  margin: 0;
  display: inline-block;
  margin-left: 7px;
  margin-top: 4px;
  font-size: 14px;
  transition: all 0.4s;
  color:rgba(0,0,0,0.9);
  white-space: nowrap;
}

.mainTopic h4{
  letter-spacing: 16px;
  margin-top: 6px;
  margin-left: 11px;
}

.expandingSquare{
  border-radius: 0;
  transition: all 1s;
  position: fixed;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  transform: scale(0.8);  

}
.expandingSquare.expandingSquare-out{
  opacity: 0;
  transform: scale(16);
  z-index: 3;
  transform: all 0.3s;
}
.expandingSquare.expandingSquare-in{
  transition: all 1s;
  transform: scale(16);
  z-index: 3;
  opacity: 0.8;
}
.articleIn{
  font-family: sorts mill goudy;
  position: fixed;
  overflow-y: scroll;
  transition: all 1s 0.3s;
  left:15%;
  top: 5%;
  bottom:0;
  right: 15%;  
  z-index: 5;
  background: #fafafa ;
  padding: 15%;
  padding-top: 70px;
  box-shadow: 0 0 39px rgba(0,0,0,0.7);
}

.articleIn .articleCloseButton{
  position: fixed;
  top: calc(5%);
  right: calc(15% + 14px);
  height: 50px;
  width: 50px;
  padding: 7px;
  transition: all 0.3s;
}

.articleIn .articleCloseButton svg{
  height: 100%;
  width: 100%;
}
.articleIn .articleCloseButton svg polygon{
  transition: all 0.3s;
}

.articleIn .articleCloseButton:hover svg polygon{
  fill:white;
}

.articleIn .shareContainer{
  position: fixed;
  top: calc(5% + 15px);
  height: 56px;
  width: 40px;
  right: calc(15% + 78px);
  transition: width 0.3s;
  border-radius: 0;
  overflow: hidden;
}
.articleIn .marginTop,.articleIn .gradientTop,.articleIn .gradientBottom{
  position: fixed;
}
.articleIn .marginTop{
  top: 5%;
  left: 15%;
  right: calc(15% + 15px);
  height: 65px;
  background: linear-gradient(#fafafa,#fafafa 90%,transparent);
}

.articleIn .gradientBottom{
  bottom: 0;
  left: 15%;
  right: calc(15% + 15px);
  background: linear-gradient(transparent,#fafafa 80%, #fafafa);
  height: 20px;
}
.articleIn .shareContainer:hover{
  width: 255px;
}
.articleIn .wideContainer{
  width: 300px;
  height: 150px;
  float: right;
}
.articleIn .shareContainer:hover .shareButton{
  transform:rotate(90deg);
}
.articleIn .facebookButton,.articleIn .twitterButton,.articleIn .googlePlusButton,.articleIn .shareButton{
  border-radius: 100%;
  transition: all 0.3s;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin-right:5px; 
  float:right;
  cursor: pointer;
}
.articleIn .shareButton{
  height: 30px;
  width: 30px;
}
.articleIn .facebookButton{
  border:2px solid #3B5998;
}
.articleIn .facebookButton svg{
  height: 100%;
  width: 100%;
}
.articleIn .facebookButton:hover{
  background: #3B5998;
}
.articleIn .facebookButton:hover svg path{
  fill:white;
}
.articleIn .facebookButton svg path{
  fill:#3B5998;
  transition: all 0.3s;
}
.articleIn .twitterButton{
  border:2px solid #1DA1F2;
}
.articleIn .twitterButton:hover{
  background: #1DA1F2;
}
.articleIn .twitterButton:hover svg path{
  fill:white;
}
.articleIn .twitterButton svg path{
  fill:#1DA1F2;
  transition: all 0.3s;
}

.articleIn .googlePlusButton{
  border:2px solid #DB4437;
}
.articleIn .googlePlusButton:hover{
  background: #DB4437;
}
.articleIn .googlePlusButton:hover svg path{
  fill:white;
}
.articleIn .googlePlusButton svg{
  width: 100%;
  height: 100%;
}
.articleIn .googlePlusButton svg path{
  fill:#DB4437;
  transition: all 0.3s;
}



@media screen and (max-width: 1100px) {
  .articleIn{
    left: 2%;
    right: 2%;
    top: 2%;
    padding: 15%;
    padding-top: 50px;
  }
  .articleIn .marginTop{
    top: 2%;
    left: 2%;
    right: calc(2% + 15px);
  }
  .articleIn .gradientBottom{
    right: calc(2% + 15px);
    left: 2%;
  }
  .articleIn .articleCloseButton{
    top: calc(2%);
    right: calc(2% + 14px);
  }
  .articleIn .shareContainer{
    top: calc(2% + 15px);
    right: calc(2% + 78px);
  }
}
@media screen and (max-width: 700px) {
  .articleIn{
    padding: 5%;
    padding-top: 65px;
  }
}

.articleIn h1,.articleIn h2,.articleIn h3,.articleIn h4,.articleIn h5,.articleIn h6{
  font-family: inherit;
  font-size:20px;
}
.articleIn img{
  max-width: 86%;
}
.articleIn p{
  font-family: inherit;
  font-size: 18px;
  text-align: justify;
}

.articleIn strong{
  font-family: inherit;
}
.articleIn h1 strong,.articleIn h2 strong,.articleIn h3 strong,.articleIn h4 strong,.articleIn h5 strong,.articleIn h6 strong{
  font-family: inherit;

}

.articleIn.articleFaded{
  opacity: 0;
}
.articleIn.articleFaded-out{
  transition: all 0.25s;
  opacity: 0;
}
.gridListdemoDynamicTiles md-grid-tile:hover{
  z-index: 4;
  transform:scale(1.05);
  box-shadow: 0 0 10px black;
  transition-delay: 0s;
}
md-grid-tile.faded{
  opacity: 0;
  transition: all 0.8s;
}
.gridListdemoDynamicTiles{
  position: relative;
}
.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; }

.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.gridListdemoDynamicTiles .s64 {
  font-size: 64px; }

.gridListdemoDynamicTiles .s32 {
  font-size: 48px; }

.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0; }

.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px; }


md-grid-tile{
  transition: all 300ms ease-out;
}


.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }

.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%; }

.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }
.moreinfo{
  background:transparent;
}
.moreinfo:hover{
  background: rgba(0,0,0,0.4);
}
.fadeOut{
  opacity: 0;
  transition: all 0.5s;
}


            /*CUSTOM COLORS*/



.topicChip.color3 h3{
  color:rgba(0,0,0,0.5);
}

.topicChip.color3.inactive h3{
  color:transparent;
}

.title.color3 h4{
  color:rgba(0,0,0,0.5);
}


