body{
	background:#fafafa;
	height: auto;
}
.clearfix::after{
	content: '';
	clear: both;
	display: block;
}
.header{
	height: auto;
	margin-bottom: 20px;
}
.header .logo{
  width: 50%;
  height: 130px;
  display: inline-block;
  float: left;
}
.header img{
	height: 100%;
}
.header .searchBar{
  width: 33%;
  margin-top:  25px; 
  margin-right:25px;
  z-index: 1;
  float: right;
  padding:0px;
  border-radius: 5px;
  display: inline-block;
  height: 69px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.27);  
}
.header .searchBar.slider{
	height: 135px;
}
.header .searchBar .searchIcon{
  border-radius: 100%;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}
.header .searchBar .searchIcon:hover{
  background: rgba(55, 71, 79, 0.26);
}
.header .searchBar .searchIcon input{
  outline: none;
  width: 100%;
  height: 100%;
}
.header .searchBar .searchIcon img{
  width: 100%;
}
.header .searchBar .sliderIcon{
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  margin-right: 6px;
  margin-bottom: 10px;
  margin-left: 16px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}
.header .searchBar .sliderIcon:hover{
  background: rgba(55, 71, 79, 0.26);
}


.header .searchBar .sliderIcon img{
  width: 100%;
}
.header .searchBar .searchIcon,.header .searchBar .textInput,.header .searchBar .sliderIcon{
  outline: none;
  display: inline-block;
  float: left;
}
.header .searchBar .textInput{
  width: 0;
  height: 57px;
  font-size: 24px;
  transition: all 0.5s;
  padding:0px;
  padding-top: 5px;
  border:none;
  color: rgba(0,0,0,0.7);
  background: transparent;
}
.header .searchBar .textInput.active{
  width: calc(95% - 200px);
  padding-left: 5px
}

.header .searchBar .numberInput.active{
  opacity: 1;
  width: calc(100% - 10px);;
}
.header .searchBar .numberInput{
	clear: left;
  margin-top: 10px;
  transition: 0.5s;
  opacity: 0;
  width: 100px;
  float:left;
}
.header .searchBar .numberInput label{
  display: inline-block;
  font-weight: bold;
  margin: 7px;
}
 md-slider-container{
  display: inline-block;
  margin-top: 6px;
  width: calc(100% - 155px);
}
md-grid-tile{
  cursor: pointer;
}
.topicChip{
  cursor: pointer;
}





.searchBar span,md-slider-container{
  float: left;
}
.searchBar span {
  margin: 20px;
}

.pagContainer{
  text-align: center;
  margin-top: 25px;
}

.pagination{
  width: 30px;
  height: 30px;
  display: inline-block;
  outline: none;
}




@media screen and (max-width: 1100px) {
	.header .searchBar{
		float: left;
    clear: left;
    margin-left: 25%;
    width: 50%;
	}
}
@media screen and (max-width: 700px) {
  .header .searchBar{
    float: left;
    clear: left;
    margin-left: 5%;
    width: 90%;
  }
  .header .logo{
    width: 100%;
  }
  .header .logo img {
    width: 100%;
    height: auto;
  }
}
