<div class="header clearfix">
  <div class="logo">
    <img src="img/logo.svg">  
  </div>
  
  <div class="searchBar" searchbar>
    <div class="sliderIcon">
      <img src="img/slider.svg" alt="search icon" align="bottom">
    </div>
    <div class="searchIcon" ng-click="search()">
      <img src="img/search.svg" alt="search icon" align="bottom">
    </div>
    <input class="textInput" type="text" placeholder="search here!" ng-model="searchText">
    <div class="numberInput">
    <span>Less</span>
    <md-slider-container>
      <md-slider flex min="7" max="27" ng-model="tileNum" aria-label="number of tiles">
      </md-slider>
    </md-slider-container>
    <span>More</span>
    </div>
  </div>
</div>


<div ng-controller="gridListDemoCtrl"  flex="" ng-cloak="" class="gridListdemoDynamicTiles" ng-app="MyApp">

  <div class="topicsBar">
    <div ng-class="{'topicChip':true,'{{topic.color}}':true, 'active':topic.active,'inactive':topic.inactive}" ng-repeat="topic in topics" ng-click="toggle(topic.topic)">
      <h3>{{topic.topic}}</h3>
    </div>
  </div>


  <md-grid-list md-cols="1" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="7" md-row-height-gt-sm="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px" holefill>
    <md-grid-tile ng-repeat="tile in tiles" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" md-colspan-xs="1" ng-class="tile.background" kh-article topic-length>
      <div class="mainTopic">
        <h4>{{tile.article.topics[0]}}</h4>
      </div>
      <div class="secondTopic">
        <h4>{{tile.article.topics[1]}}</h4>
      </div>
      <div class="thirdTopic">
        <h4>{{tile.article.topics[2]}}</h4>
      </div>
      <div ng-class="'date'+tile.span.col+'-'+tile.span.row +' date'">
        <h3>{{tile.article.date|date:'MMM dd'}}</h3>
      </div>
      <div ng-class="'thumbnail-'+tile.span.col+'-'+tile.span.row +' thumbnail'">
        <img ng-src="{{tile.article.image}}" alt="image" ng-click="tile.fullscreen!=tile.fullscreen">  
      </div>
      <div ng-class="'title-'+tile.span.col+'-'+tile.span.row + ' title' + ' '+tile.background">
        <h4>{{tile.article.title}}</h4>
      </div>
      <div class="link">
        <a ng-href="{{tile.link}}" alt=""></a>
      </div>
      <div ng-class="'overlay'+' '+tile.background"></div>
    </md-grid-tile>
  </md-grid-list>
  <md-progress-circular md-mode="indeterminate" md-diameter="200" class="progressAnimation" ng-show="searching"></md-progress-circular>
</div>

